@media screen and (max-width: 1220px) {
    .container {
        padding-inline: 15px;
    }

}

@media screen and (max-width: 1024px) {
    .card-items {
        grid-template-columns: repeat(2, 300px);
    }
    .name-title {
        font-size: 24px;
    }
}

@media screen and (max-width: 800px) {
    .name-title {
        font-size: 18px;
    }
}

@media screen and (max-width: 670px) {
    .card-items {
        grid-template-columns: repeat(1, 300px);
    }
    .name-title {
        font-size: 14px;
    }
}

